@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

body {
  font-family: 'nanumsquare';
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline black;
}

